*, html, body {
    margin:0; padding:0
}
body
{
    font-family: Verdana, sans-serif;
}

#container {
    width: 1000px;
    height: 800px;
    background-color: bisque;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(156,115,93);
    -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,.35);
    box-shadow: 0 0 20px 10px rgba(0,0,0,.35);
}
#gold{
    height: 100px;
    width: auto;
    border: 1px solid red;
    margin: 10px;
}
#gold_box
{
    height: 60px;
    width: 0px;
    border: 1px solid red;
    background-color: yellow;
    position: relative;
    margin-left: 3px;
}
#derevo, #pesok, #kamen
{
    height: 100px;
    width: auto;
    border: 1px solid red;
    margin: 10px;
    position: relative;
}
#d0
{
    position: absolute;
    bottom: 5px;
    height: 70px;
    left:5px;
    width: 40px;
    border: 1px solid black;
    background-color: green;
}
#d1
{
    position: absolute;
    bottom: 5px;
    height: 10px;
    left:55px;
    width: 40px;
    border: 1px solid black;
    background-color: green;
}
#d2
{
    position: absolute;
    bottom: 5px;
    height: 30px;
    left:105px;
    width: 40px;
    border: 1px solid black;
    background-color: green;
}
